html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $background;
  color: $primary;
  font-family: $font;
  font-size: 1em; /* default: 16px = 1em */
  font-weight: normal;
  letter-spacing: 0;
  }

a {
  color: $link;
  text-decoration: none;
  }

img {
  max-width: 100%;
  display: block;
}
