.menu-wrap {
  float: left;
  width: calc(100% + 40px);
	height: 100px;
	margin: 0 -20px;
	@include box-shadow(0, 1px, 10px, rgba(0, 0, 0, 0.25));
}

#navicon {
    text-indent: -9999em;
    float: right;
    display: block;
    width: 40px;
    height: 30px;
    background: url("/assets/elements/menu_icon.svg") 0 0 no-repeat;
    position: relative;
    top: 35px;
    right: 15px;
}


// toggle
.hidden { display: none !important; }
.shown { display: block; }


// general

#mainnav {
  clear: both;
  width: 100%;
  li {
    flex-grow: 1;
    font-family: $font;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    a {
        display: block;
        color: $primary;
        @include transition(all .3s ease);
      }
    }
    li.current a,
    li a:hover {
      @include opacity(.7);
    }
}


// mobile

@media screen and (max-width: 819px) {
  #mainnav {
    position: relative;
    top: 70px;
    background: #fff;
    z-index: 99;
    ul {
      text-align: center;
      border-top: 1px solid $light;
    }
    li {
      border-bottom: 1px solid $light;
    }
    a {
      padding: 2em 0;
    }
    li.current a,
    li a:hover {
        background: $light;
      }
  }

  #mainnav.active {
    max-height: 24em;
  }
}

// desktop

@media screen and (min-width: 820px) {

  a.menu-link {
     display: none;
     height: 0;
  }

  #mainnav {
    margin: 40px 0;
    ul {
      display: flex;
      flex-direction: row;
    }
    li {
      display: inline-block;
      text-align: center;
      margin: 0 0.5em;
    }
  }
}
