$font: 'Montserrat', 'Helvetica Neue', sans-serif;
$header: 'Montserrat', 'Helvetica Neue', sans-serif;

$primary:     #000;
$secondary:   #ccc;
$light:       #efefef;
$link:        blue;
$background:  #fff;
