$font-stack: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
$font-display: Georgia, Serif;

$primary:     #000;
$secondary:   #ccc;
$light:       #efefef;
$link:        blue;
$background:  #fff;
