// Set box-sizing 
*,
*:after,
*:before {
  box-sizing: inherit
}

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: $prim;
  font-family: $font;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0;
}

a {
  color: $prim;
  text-decoration: none;

  &:focus,
  &:hover {
    outline: none;
    color: $seco;
  }
}